<mat-toolbar>
  <button mat-icon-button (click)="(dummy)">
    <mat-icon class="mat-18">description</mat-icon>
  </button>

  <span>DeckGPT</span>
  <a mat-button routerLink="/" class="nav-item">Home</a>
  <a mat-button routerLink="/pricing" class="nav-item">Pricing</a>
  <a mat-button routerLink="/external-api" class="nav-item" *ngIf="auth.isAuthenticated$ | async">Test API</a>
  <a mat-button routerLink="/playground" class="nav-item" *ngIf="auth.isAuthenticated$ | async">Playground</a>
  <span class="d-flex mx-auto"></span>
  <button mat-raised-button (click)="loginWithRedirect()" class="nav-item" *ngIf="(auth.isAuthenticated$ | async) === false">Sign in</button>

  <button mat-button [matMenuTriggerFor]="menu">Profile</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile">Profile</button>
    <button mat-menu-item (click)="logout()">Log out</button>
  </mat-menu>
</mat-toolbar>
