<div class="container mt-5">
  <div *ngIf="hasApiError" class="alert alert-danger" role="alert">
    An error occured when trying to call the local API on port 3001. Ensure the
    local API is started using either `npm run dev` or `npm run server:api`.
  </div>

  <div class="d-flex flex-row col-12">
    <div class="col-4">
      <h1>Ping API</h1>
      <p class="lead">Ping an external API by clicking the button below.</p>
      <button class="btn btn-primary mb-5" (click)="pingApi()">Ping API</button>
    </div>
    <div class="col-4">
      <h1>Test 1</h1>
      <p>Test 1 function on the API</p>
      <button class="btn btn-primary mb-5" (click)="test1()">Test</button>
    </div>
    <div class="col-4">
      <h1>Test 2</h1>
      <p>Test 2 function on the API</p>
      <button class="btn btn-primary mb-5" (click)="test2()">Test</button>
    </div>
  </div>

  <div class="result-block-container" *ngIf="responseJson">
    <div class="result-block" [ngClass]="{ show: !!responseJson }">
      <pre>
        <code class="js rounded" [highlight]="responseJson"></code>
      </pre>
    </div>
  </div>
</div>
